.create-post-container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.create-post-content {
    margin-right: 2rem;
    margin-left: 5.1rem;
}

.tag-input-container {
    position: relative;
}

.selected-tags {
    display: flex;
    flex-wrap: wrap;
}

.selected-tags div {
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.selected-tags i {
    margin-left: 6px;
    font-size: 0.9rem;
    color: #666;
}

.selected-tags i:hover {
    color: red;
}

.hover-bg-light-gray:hover {
    background-color: #f5f5f5;
}
