.profile-container {
    display: flex;
    align-items: center;
}

.messages {
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin-left: 20%;
    margin-right: 25%;
    min-height: 100vh;
    overflow-y: auto;
}

.role-admin {
    color: #d9534f;
    font-weight: bold;
}

.role-user {
    color: #0275d8;
}
