.custom-hover:hover {
    background-color: #f6f8f9;
    border-radius: 5px;
}

.dropdown-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-container.open {
    max-height: 300px;
    opacity: 1;
}

.icon-transition {
    transition: transform 0.3s ease-in-out;
}

.icon-transition.rotated {
    transform: rotate(180deg);
}
